@model User
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Question</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css"
          integrity="sha512-OQDNdI5rpnZ0BRhhJc+btbbtnxaj+LdQFeh0V9/igiEPDiWE2fG+ZsXl0JEH+bjXKPJ3zcXqNyP4/F/NegVdZg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css"
          integrity="sha512-MqL4+Io386IOPMKKyplKII0pVW5e+kb+PI/I3N87G3fHIfrgNNsRpzIXEi+0MQC0sR9xZNqZqCYVcC61fL5+Vg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/css/About.css" />
    <link rel="stylesheet" href="~/css/UserDetails.css" />
</head>
<body>
    <div class="nav">
        <a href="#home">
            <img class="logoimg"
                 src="~/Frontend/assets/Quizzylogo.svg"
                 alt="logo" />
        </a>
        <div class="list-of-options">
            <a class="list-item" style="text-decoration: none" href="/User/Homepage">Home</a>
            <a class="list-item" style="text-decoration: none" href="/User/About">About</a>
            <a class="list-item" style="text-decoration: none" href="/User/Contact">Contact</a>
            <a class="list-item" style="text-decoration: none" href="/User/SelectQuiz">Quizzes</a>
        </div>
        <a asp-action="UserDetail">
            <img class="profileimg"
                 src="~/Frontend/assets/profile-img.svg"
                 alt="profile" />
        </a>
    </div>
    <div class="tagline-with-backicon">
        <a style="text-decoration:none" asp-action="Homepage" ><i class="ri-arrow-left-line ri-lg"></i></a>
        <p class="user-details-tagline">User Details</p>
    </div>
    <div class="user-details-card">
        <div class="image-with-some-details">
            <div class="left">
                <img src="~/Frontend/assets/user-image.jpg" alt="user-image" />
            </div>
            <div class="right">
                <div class="name-with-role">
                    <h2>
                        @ViewBag.user.UserName
                    </h2>
                    <p>@ViewBag.user.UserRole</p>
                </div>
                <h3>High Score : <span>@ViewBag.score</span> points</h3>
            </div>
        </div>
        <div class="contact-info">
            <p>Contact Info</p>
            <div class="inside-contact-info">
                <p><span>Email : </span>@ViewBag.user.Email</p>
                <p><span>Phone : </span>@ViewBag.user.Mobile</p>
            </div>
        </div>
        <div class="on-user-action-buttons">
            <button type="button" class="all-attempted-quiz"><a style="text-decoration:none;color:white" asp-action="ViewHistory"><i class="ri-file-list-2-fill"></i> All Attempted Quizzes </a></button>
        </div>
    </div>
</body>
</html>
